nodered/flows.json
[{"id":"6647bfa1.7e7a4","type":"ui_gauge","z":"f7ef1202.481598","name":"String 2 Current","group":"ac9ce07d.5e5ff8","order":6,"width":"2","height":"2","gtype":"gage","title":"Proud 2","label":"A","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":180,"wires":[]},{"id":"10e4f40f.fd25dc","type":"ui_gauge","z":"f7ef1202.481598","name":"Inverter power In/Out","group":"b1bfc4f7.fe7c98","order":1,"width":"6","height":"3","gtype":"gage","title":"Výkon","label":"W","format":"{{value}}","min":"-10000","max":"10000","colors":["#ff2600","#f4fbf4","#00f900"],"seg1":"100","seg2":"-100","x":860,"y":500,"wires":[]},{"id":"db1671b8.23bf48","type":"ui_gauge","z":"f7ef1202.481598","name":"Power to grid  in/out ","group":"d806fa54.328e6","order":11,"width":3,"height":3,"gtype":"gage","title":"Distribuční síť","label":"W","format":"{{value}}","min":"-10000","max":"10000","colors":["#ff2600","#5f5959","#00f900"],"seg1":"0","seg2":"0","x":860,"y":340,"wires":[]},{"id":"a3abb80a.122fb8","type":"ui_gauge","z":"f7ef1202.481598","name":"String 1 Voltage","group":"ac9ce07d.5e5ff8","order":2,"width":"2","height":"2","gtype":"gage","title":"Napětí 1","label":"V","format":"{{value}}","min":0,"max":"700","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":840,"y":60,"wires":[]},{"id":"e43d12da.590cb8","type":"ui_gauge","z":"f7ef1202.481598","name":"String 2 Voltage","group":"ac9ce07d.5e5ff8","order":5,"width":"2","height":"2","gtype":"gage","title":"Napětí 2","label":"V","format":"{{value}}","min":0,"max":"700","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":840,"y":100,"wires":[]},{"id":"3dd30c19.874134","type":"ui_gauge","z":"f7ef1202.481598","name":"String 1 Power","group":"ac9ce07d.5e5ff8","order":4,"width":"2","height":"2","gtype":"gage","title":"Výkon 1","label":"W","format":"{{value}}","min":"0","max":"3600","colors":["#80ff80","#00ff00","#00b500"],"seg1":"","seg2":"","x":840,"y":220,"wires":[]},{"id":"c6c35888.a15cc","type":"ui_gauge","z":"f7ef1202.481598","name":"String 2 Power","group":"ac9ce07d.5e5ff8","order":7,"width":"2","height":"2","gtype":"gage","title":"Výkon 2","label":"W","format":"{{value}}","min":"0","max":"3600","colors":["#80ff80","#80ff00","#00b500"],"seg1":"","seg2":"","x":840,"y":260,"wires":[]},{"id":"35ff0fed.c0eb8","type":"ui_gauge","z":"f7ef1202.481598","name":"Batt Current","group":"863f3533.e2e33","order":3,"width":"2","height":"2","gtype":"gage","title":"Proud","label":"A","format":"{{value}}","min":"-25","max":"25","colors":["#ff0000","#5c5c5c","#00ff00"],"seg1":"-1","seg2":"+1","x":830,"y":620,"wires":[]},{"id":"67cc092.7cccd78","type":"ui_gauge","z":"f7ef1202.481598","name":"Battery Power","group":"863f3533.e2e33","order":2,"width":"2","height":"2","gtype":"gage","title":"Výkon","label":"W","format":"{{value}}","min":"-4000","max":"4000","colors":["#ca3838","#5c5c5c","#00b500"],"seg1":"-5","seg2":"+5","x":840,"y":580,"wires":[]},{"id":"c2f382da.8aade8","type":"ui_gauge","z":"f7ef1202.481598","name":"Batt Capacity","group":"863f3533.e2e33","order":1,"width":"6","height":"3","gtype":"gage","title":"Nabití baterie","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ca3838","#e8eb06","#0abd0a"],"seg1":"25","seg2":"60","x":840,"y":540,"wires":[]},{"id":"180f30fa.eb9a97","type":"ui_gauge","z":"f7ef1202.481598","name":"String 1 + 2 Power","group":"ac9ce07d.5e5ff8","order":1,"width":"6","height":3,"gtype":"gage","title":"Dodávaný výkon","label":"W","format":"{{value}}","min":"0","max":"10000","colors":["#80ff80","#00ff00","#00b500"],"seg1":"","seg2":"","x":850,"y":300,"wires":[]},{"id":"38467a03.c82cbe","type":"ui_gauge","z":"f7ef1202.481598","name":"String 1 Current","group":"ac9ce07d.5e5ff8","order":3,"width":"2","height":"2","gtype":"gage","title":"Proud 1","label":"A","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":140,"wires":[]},{"id":"65c2ac4e.351924","type":"ui_gauge","z":"f7ef1202.481598","name":"House Consumpsion","group":"d806fa54.328e6","order":10,"width":3,"height":3,"gtype":"gage","title":"Spotřeba domu","label":"W","format":"{{value}}","min":0,"max":"10000","colors":["#f5ec00","#ff9300","#ff2600"],"seg1":"1000","seg2":"5000","x":860,"y":820,"wires":[]},{"id":"3b3e1b78.89227c","type":"modbus-read","z":"f7ef1202.481598","name":"ReadInput  Solax X3 Modbus","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"2","dataType":"InputRegister","adr":"0","quantity":"117","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"80a5d915.31e91","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":460,"wires":[["ddad29bb.198bf8"],[]]},{"id":"21ae1092.757c1","type":"ui_gauge","z":"f7ef1202.481598","name":"Inverter temperature","group":"b1bfc4f7.fe7c98","order":6,"width":"2","height":"2","gtype":"gage","title":"Teplota","label":"C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":740,"wires":[]},{"id":"7a28f923.6b6108","type":"ui_gauge","z":"f7ef1202.481598","name":"Battery temperature","group":"863f3533.e2e33","order":5,"width":"2","height":"2","gtype":"gage","title":"Teplota","label":"C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":700,"wires":[]},{"id":"7dcd865d.44d9a8","type":"ui_gauge","z":"f7ef1202.481598","name":"Free power","group":"d806fa54.328e6","order":1,"width":"6","height":"4","gtype":"gage","title":"Nadbytek ","label":"Watů","format":"{{value}}","min":"-10000","max":"10000","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","x":830,"y":860,"wires":[]},{"id":"279dea72.4530c6","type":"ui_gauge","z":"f7ef1202.481598","name":"","group":"3297cccc.ae2624","order":1,"width":0,"height":0,"gtype":"gage","title":"Vytěženo","label":"kWh","format":"{{value}}","min":0,"max":"50","colors":["#ff2600","#e6e600","#00b500"],"seg1":"","seg2":"","x":820,"y":780,"wires":[]},{"id":"c3bc317a.2cdb98","type":"function","z":"f7ef1202.481598","name":"powerScale","func":"\n// scale conversion to actual power to the PowerDice\nfunction scaleConversion(number, inMin, inMax, outMin, outMax) {\n    return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;\n}\n\n\n// Obtains the current available or consumed power from the solar power plant. \n// Positive values mean production, negative values mean self-consumption. \nvar freePower = global.get('solar-power') || 0;\n\n// Conversion of current production/consumption in Watts on a scale of -10-0-10\n\nmsg.payload = {\n         \"power\": Math.round(scaleConversion(freePower, -10000,10000,-10,10)),\n        // \"power\": -10,\n         \"powerW\": freePower\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["61504359.86cd4c"]]},{"id":"60fdb1a5.fe78c8","type":"http in","z":"f7ef1202.481598","name":"","url":"/dice","method":"get","upload":false,"swaggerDoc":"","x":240,"y":60,"wires":[["c3bc317a.2cdb98"]]},{"id":"61504359.86cd4c","type":"http response","z":"f7ef1202.481598","name":"","statusCode":"","headers":{},"x":630,"y":60,"wires":[]},{"id":"ddad29bb.198bf8","type":"function","z":"f7ef1202.481598","name":"SOLAX X3","func":"                                           // conversion word to int\nfunction word2int(val) {\n    var rc = val;\n    if ( val >= 32767)  {\n        rc = (65535 -  val)* (-1) ; \n    }\n    return rc;\n}\n\nfunction int16Normalize(val) {\n     var rc = val;\n    // discharging ? 65534\n    if (val >= 3276)  { \n        rc = ( 6553 - val)* (-1)\n    }\n    rc =  Math.round(rc * 10) / 10\n    return rc;\n}\n\n// Read Input Register, Function code 4\nvar mappedArray = msg.payload ; \n\n// solar panel - data\nvar string1Voltage =    { payload: mappedArray[0x0003]/10 , topic: \"solax/string1V\"};           // 0.1V uint16\nvar string2Voltage =    { payload: mappedArray[0x0004]/10 , topic: \"solax/string2V\"};           // 0.1V uint16\nvar string1Current =    { payload: mappedArray[0x0005]/10,  topic: \"solax/string1A\"};           // 0.1A uint16\nvar string2Current =    { payload: mappedArray[0x0006]/10,  topic: \"solax/string2A\"};           // 0.1A uint16    \nvar string1Power =      { payload: mappedArray[0x000A], topic: \"solax/string1W\" };              //power DC 1  - 1W uint16\nvar string2Power =      { payload: mappedArray[0x000B], topic: \"solax/string2W\" };              //power DC 2  - 1W uint16\nvar stringsPowerValue = mappedArray[0x000A] + mappedArray[0x000B];\nvar stringsPower  =     { payload: stringsPowerValue, topic: \"solax/stringsW\" };                //SUM \n\n// Power to the grid / from grid\n// + delivery to a distribution grid\n// - consumption from the grid \nvar powerToGridValue = word2int(mappedArray[0x0046]);\nvar powerToGrid  =  { payload: powerToGridValue, topic: \"solax/powerToGrid\" };     // feed in power meter  1W  Int32\n\n// inverter power\nvar gridPowerR  =  { payload: word2int(mappedArray[0x006C]), topic: \"solax/gridPowerR\" };                 // 1W  int16\nvar gridPowerS  =  { payload: word2int(mappedArray[0x0070]), topic: \"solax/gridPowerS\" };                 // 1W  int16\nvar gridPowerT =  { payload: word2int(mappedArray[0x0074]), topic: \"solax/gridPowerT\" };                  // 1W  int16\nvar gridPowerSumValue = word2int(mappedArray[0x006C]) +  word2int(mappedArray[0x0070]) +  word2int(mappedArray[0x0074]);\nvar gridPowerSum = { payload: gridPowerSumValue, topic: \"solax/gridPower\" }; \n\nvar homeConsumptionValue = gridPowerSumValue - powerToGridValue;\nvar homeConsumption = { payload: homeConsumptionValue, topic: \"solax/homeConsuptionW\" }; \n\n// kwh\nvar energyToday = { payload: mappedArray[0x0050]/10, topic: \"solax/energyToday\" }; //energy today 0.1 kwh unit16\n\nvar reservePowerValue = stringsPowerValue - homeConsumptionValue /*gridPowerSumValue - powerToGridValue*/;\nvar reservePower = { payload: reservePowerValue, topic: \"solax/reservePower\" }; \n\n\n// temperature - inverter\nvar inverterTemperature  =     { payload: mappedArray[0x008], topic: \"solax/iverterTemp\" };  // 1C int16\nvar inverterFaultTemperature  =     { payload: mappedArray[0x00C], topic: \"solax/iverterFaultTemp\" }; //  1C int16\nvar radiatorTemperature  =     { payload: mappedArray[0x00BE], topic: \"solax/radiatorTemperatur\" }; \n\n\n// battery\nvar batteryTemperature  =     { payload: mappedArray[0x0018], topic: \"solax/battery/temp\" };\nvar battVoltage =  { payload: mappedArray[0x0014]/10, topic: \"solax/battery/V\" };            //0.1V int16\nvar battCurrent =  { payload: int16Normalize(mappedArray[0x0015]/10), topic: \"solax/battery/A\" }; // 0.1A  int16\nvar battPower = { payload: word2int(mappedArray[0x0016]), topic: \"solax/battery/W\" };           \nvar batteryCapacity =   { payload: mappedArray[0x001C], topic: \"solax/battery/Percent\" };\n\n\n\nreturn [\n        string1Voltage, \n        string2Voltage,\n        string1Current,\n        string2Current,\n        string1Power,\n        string2Power,\n        stringsPower,\n        powerToGrid,\n        gridPowerR, gridPowerS, gridPowerT, gridPowerSum,\n        batteryCapacity,battPower,battCurrent,battVoltage,batteryTemperature,\n        inverterTemperature,\n        energyToday,\n        homeConsumption,\n        reservePower\n    ]\n\n","outputs":21,"noerr":0,"x":390,"y":460,"wires":[["a3abb80a.122fb8"],["e43d12da.590cb8"],["38467a03.c82cbe"],["6647bfa1.7e7a4"],["3dd30c19.874134"],["c6c35888.a15cc"],["180f30fa.eb9a97"],["db1671b8.23bf48"],["d4b6a707.d2fc78"],["86744b67.8207e8"],["50d1534b.150eac"],["10e4f40f.fd25dc"],["c2f382da.8aade8"],["67cc092.7cccd78"],["35ff0fed.c0eb8"],["5ead8982.db6b9"],["7a28f923.6b6108"],["21ae1092.757c1"],["279dea72.4530c6"],["65c2ac4e.351924"],["7dcd865d.44d9a8","95c72e74.59593"]],"outputLabels":["string1Voltage","string2Voltage","string1Current","string2Current","string1Power","string2Power","stringsPower","powerToGrid","gridPowerR","gridPowerS","gridPowerT","gridPowerSum","batteryCapacity","battPower","battCurrent","battVoltage","batteryTemperature","inverterTemperature","energyToday","homeConsumption","reservePower","","",""]},{"id":"d4b6a707.d2fc78","type":"ui_gauge","z":"f7ef1202.481598","name":"inverter R - power","group":"b1bfc4f7.fe7c98","order":2,"width":"2","height":"2","gtype":"gage","title":"fáze L1","label":"W","format":"{{value}}","min":"-10000","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":380,"wires":[]},{"id":"86744b67.8207e8","type":"ui_gauge","z":"f7ef1202.481598","name":"inverter S - power","group":"b1bfc4f7.fe7c98","order":3,"width":"2","height":"2","gtype":"gage","title":"fáze L2","label":"W","format":"{{value}}","min":"-10000","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":420,"wires":[]},{"id":"50d1534b.150eac","type":"ui_gauge","z":"f7ef1202.481598","name":"inverter T - power","group":"b1bfc4f7.fe7c98","order":4,"width":"2","height":"2","gtype":"gage","title":"fáze L3","label":"W","format":"{{value}}","min":"-10000","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":460,"wires":[]},{"id":"5ead8982.db6b9","type":"ui_gauge","z":"f7ef1202.481598","name":"Battery Voltage","group":"863f3533.e2e33","order":4,"width":"2","height":"2","gtype":"gage","title":"Napětí","label":"V","format":"{{value}}","min":"-10000","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":660,"wires":[]},{"id":"95c72e74.59593","type":"function","z":"f7ef1202.481598","name":"set power dice","func":"global.set(\"solar-power\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":900,"wires":[[]]},{"id":"2fc7ea5c.d9f486","type":"persist out","z":"f7ef1202.481598","name":"solar","storageNode":"5fd54234.28987c","x":1290,"y":240,"wires":[["d99ef425.886468"]]},{"id":"5608d775.e075f8","type":"inject","z":"f7ef1202.481598","name":"","topic":"","payload":"","payloadType":"date","repeat":"18000","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":140,"wires":[["3a24195f.b7bd36"]]},{"id":"3a24195f.b7bd36","type":"http request","z":"f7ef1202.481598","name":"solar forecast","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.pvforecast.cz/api/?key=XXXXXX&lat=YYYY&lon=ZZZZ&format=json&start=today&type=day&number=2","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":140,"wires":[["7921ff56.c1f61"]]},{"id":"661d7814.fce2c8","type":"persist in","z":"f7ef1202.481598","name":"solar","storageNode":"5fd54234.28987c","x":1620,"y":140,"wires":[]},{"id":"7921ff56.c1f61","type":"json","z":"f7ef1202.481598","name":"","property":"payload","action":"","pretty":false,"x":1460,"y":140,"wires":[["661d7814.fce2c8"]]},{"id":"99b963f5.45af1","type":"comment","z":"f7ef1202.481598","name":"solar view each 6 hours","info":"","x":1070,"y":60,"wires":[]},{"id":"77431aa5.b67f34","type":"inject","z":"f7ef1202.481598","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":240,"wires":[["2fc7ea5c.d9f486"]]},{"id":"d99ef425.886468","type":"function","z":"f7ef1202.481598","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),'-',\n          (mm>9 ? '' : '0') + mm,'-',\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\nvar stamp =date.yyyymmdd() + ' 00:00:00';\n\nvar today = 0;\nvar tomorow = 0;\nconst gridSize = 40; // m2\nconst efficiencyOfPanels = 0.25 ; // 20%\n\nconst vyrobnikonstanta =gridSize * efficiencyOfPanels;\nif ( msg.payload[0][0] == stamp) {\n    today =   Math.round((msg.payload[0][1]/1000)*vyrobnikonstanta);\n    tomorow =  Math.round((msg.payload[1][1]/1000)*vyrobnikonstanta);\n}\n\nvar todayForecast =    { payload: today , topic: \"forecast/sun/today\"};\nvar tomorowForecast =    { payload:  tomorow, topic: \"forecast/sun/tomorow\"};\n\n\nreturn [\ntodayForecast, tomorowForecast\n];\n","outputs":2,"noerr":0,"x":1470,"y":240,"wires":[["93e11bae.3d3ab8"],["b5b6d1a.c60573"]],"outputLabels":["todayForecast","tomorowForecast"]},{"id":"93e11bae.3d3ab8","type":"ui_gauge","z":"f7ef1202.481598","name":"Today","group":"3297cccc.ae2624","order":2,"width":"3","height":"3","gtype":"gage","title":"Dnes","label":"kWh","format":"{{value}}","min":0,"max":"50","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","x":1630,"y":220,"wires":[],"icon":"node-red/timer.svg"},{"id":"b5b6d1a.c60573","type":"ui_gauge","z":"f7ef1202.481598","name":"Tomorow","group":"3297cccc.ae2624","order":3,"width":"3","height":"3","gtype":"gage","title":"Zítra","label":"kWh","format":"{{value}}","min":0,"max":"50","colors":["#ff2600","#e6e600","#00f900"],"seg1":"","seg2":"","x":1640,"y":280,"wires":[]},{"id":"11115339.f25b3d","type":"comment","z":"f7ef1202.481598","name":"www.pvforecast.cz","info":"XXXXXX - API KEY\nYYYY - latitude\nZZZZ - longitude\n\nhttp://www.pvforecast.cz/api/?key=XXXXXX&lat=YYYY&lon=ZZZZ&format=json&start=today&type=day&number=2","x":1330,"y":80,"wires":[]},{"id":"68d6cb41.c43ef4","type":"comment","z":"f7ef1202.481598","name":"free power dice - http service","info":"","x":300,"y":100,"wires":[]},{"id":"ac9ce07d.5e5ff8","type":"ui_group","z":"","name":"Panely","tab":"bb341b32.fa7da","order":5,"disp":true,"width":"6","collapse":false},{"id":"b1bfc4f7.fe7c98","type":"ui_group","z":"","name":"Měnič","tab":"bb341b32.fa7da","order":4,"disp":true,"width":"6","collapse":false},{"id":"d806fa54.328e6","type":"ui_group","z":"","name":"Dům","tab":"bb341b32.fa7da","order":1,"disp":true,"width":"6","collapse":false},{"id":"863f3533.e2e33","type":"ui_group","z":"","name":"Baterie","tab":"bb341b32.fa7da","order":3,"disp":true,"width":"6","collapse":false},{"id":"80a5d915.31e91","type":"modbus-client","z":"","name":"ELEKTRARNA","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"3297cccc.ae2624","type":"ui_group","z":"","name":"Předpověď","tab":"bb341b32.fa7da","order":2,"disp":true,"width":"6","collapse":false},{"id":"5fd54234.28987c","type":"persist-store","z":"","filename":"solarpersistence.json","interval":"60"},{"id":"bb341b32.fa7da","type":"ui_tab","z":"","name":"POWERPLANT","icon":"dashboard","order":1,"disabled":false,"hidden":false}]